################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WishList/v15/Server/sqlite3
/WishList/bin/x86/Debug
/WishList/obj
/.vs/WishList/v15/sqlite3/db.lock
/.vs/WishList/v15/sqlite3/storage.ide-shm
/.vs/WishList/v15/sqlite3/storage.ide-wal
